<div class="bg-secondary p-3 d-flex align-items-center mt-3 f-bottom w-100">
  <p class="mb-0 text-white">این وبسایت توسط امیرحسام فاتحی و محمدفواد فهیمی نسب برای جشنواری خوارزمی ساخته شده است</p>
</div>