<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
      <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center mb-2 mb-lg-0">
        <li><a href="/" class="btn btn-sm btn-outline-secondary">رفتن به صفحه اصلی</a></li>
        <li><a href="/dashboard/upload" class="btn btn-sm btn-outline-secondary ml-1">آپلود ویدیو جدید</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 form-inline flex-nowrap" id="search-form">
        <input type="search" class="form-control form-control-dark w-100" placeholder="جستجو" aria-label="Search">
        <button class="btn btn-secondary ml-1">بگرد</button>
      </form>

      <div class="text-end">
        <p class="justify-content-center mb-0"><%= user.username %> عزیز، خوش آمدید</p>
      </div>
    </div>
  </div>
</header>