<div class="row">
  <div class="col-md-12">
    <div class="error-template">
      <h1>
        ุงุฑูุฑ</h1>
      <h2>
        ุตูุญู ุง ฺฉู ูุฎูุงุณุช ูพุฏุง ูุดุฏ</h2>
      <div class="error-details">
        ูุชุงุณูุงูู ุตูุญู ุง ฺฉู ุฏูุจุงูุด ุจูุฏ ุฑู ูพุฏุง ูฺฉุฑุฏู ๐
      </div>
      <div class="error-actions">
        <a href="/" class="btn badge-primary btn-lg">ุจุฑู ุจู ุตูุญู ุงุตู</a>
      </div>
    </div>
  </div>
</div>