<div class="row">
  <div class="col-md-12">
    <div class="error-template">
      <h1>
        ุงุฑูุฑ</h1>
      <h2>
        ูุดฺฉู ุฏุฑ ุณุฑูุฑ ูพุด ุขูุฏ</h2>
      <div class="error-details">
        ูุชุงุณูุงูู ูุดฺฉู ุฏุฑ ูพุฑุฏุงุฒุด ุณุฑูุฑ ุจู ูุฌูุฏ ุขูุฏ ๐
      </div>
      <div class="error-actions">
        <a href="/" class="btn badge-primary btn-lg">ุจุฑู ุจู ุตูุญู ุงุตู</a>
      </div>
    </div>
  </div>
</div>